<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>

<h1>Update your profile</h1>

<div class="row">
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  </div>
</div>