<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%=pluralize(object.errors.count, "error") %>
    </div>
    <u1>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </u1>
  </div>
<% end %>