<div class="center jumbotron">
  <h1>Patriots, Welcome</h1>
  <h2>
     Thanks for coming. We've got a lot of work to do.
  </h2>
  <%= link_to "Start here", signup_path, class: "btn btn-lg btn-primary"  %>  
</div>

<div class="center">
<%= link_to image_tag("swastika.jpg", size: "100", alt: "Swastika"), 
            "http://dailystormer.com", :target => "_blank" %>
<%= link_to image_tag("popsicle.gif", height: "100", alt: "Popsicle"), 
            "http://rubyonrails.org" %>
<%= link_to image_tag("swastika.jpg", size: "100", alt: "Swastika"), 
            "http://dailystormer.com", :target => "_blank" %>
</div>